<header>
  <nav>
    <a href="/" class="logo">BlogX</a>
    <div class="nav-links">
      <a href="/">Home</a>
      <% if (locals.user) { %>
        <a href="/blog/add-new">Write</a>
        <a href="/user/logout">Logout</a>
      <% } else { %>
        <a href="/user/signup">Sign Up</a>
        <a href="/user/signin">Sign In</a>
      <% } %>
    </div>
  </nav>
</header>

<% if (locals.error) { %>
  <div class="alert alert-danger">
    <%= locals.error %>
  </div>
<% } %>